$basic-black: #2b2c2d;
$nav-text: #787a7d;

@media (min-width: 1200px) {
  .container {
    max-width: 1220px;
  }
}

button:focus {
  outline: none;
}

.navbar {
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar-toggler{
  border: none;
  padding: 0 22px;
}

.nav-link {
  font-size: 14px;
  color: $nav-text;

  &:hover {
    color: $nav-text;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    padding-left: 40px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 23px 18px;

    &.online-reservation {
      margin-left: 62px;
    }
  }
}

.online-reservation {
  background-color: $basic-black;
  color: #ffffff;
  padding: 23px 36px;

}

//index.html
.jumbotron {
  margin-top: 60px;
  height: 640px;
  background-size: cover;
  background: no-repeat center;
  color: #ffffff;

  .jumbotron-title {
    font-size: 48px;
  }

  .jumbotron-description {
    font-size: 12px;
    margin-top: 5px;
  }
}
